<div class="container mt-2">
    <div class="col-12 h2" style="background-color:  #3f51b5; color: white; border-radius: 5px;">
        Recibos
    </div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Filtros
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="paramsBusqueda">
                <mat-form-field class="col-6">
                    <mat-label>Proveedor</mat-label>
                    <input formControlName="Id_proveedor" value="proveedor.Id_Proveedor" type="text" name="Id_proveedor" [formControl]="autoComplete" placeholder="Buscar proveedor" aria-label="Proveedor" matInput [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let proveedor of filteredOptions | async" [value]="proveedor.nombre">
                            {{proveedor.nombre}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <br>
                <mat-form-field class="col-6" appearance="fill">
                    <mat-label>Fecha Inicio</mat-label>
                    <input formControlName="fechaInicio" matInput [matDatepicker]="fechaInicio">
                    <mat-datepicker-toggle matSuffix [for]="fechaInicio">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #fechaInicio></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="col-6" appearance="fill">
                    <mat-label>Fecha Fin</mat-label>
                    <input formControlName="fechaFin" matInput [matDatepicker]="fechaFin">
                    <mat-datepicker-toggle matSuffix [for]="fechaFin">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #fechaFin></mat-datepicker>
                </mat-form-field>
            </form>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="col-12 m-2 text-right">
        <button (click)="agregar()" mat-mini-fab color="accent" class="mr-2" aria-label="Example icon button with a plus one icon"><mat-icon>add</mat-icon></button>
        <button (click)="consultarRecibos()" mat-flat-button color="primary"><mat-icon>search</mat-icon>Buscar</button>
    </div>
    <div style="max-width: 100%; overflow-x: auto;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-12">
            <ng-container matColumnDef="Folio">
                <th mat-header-cell *matHeaderCellDef> Folio </th>
                <td mat-cell *matCellDef="let element"> {{element.folio}} </td>
            </ng-container>
            <ng-container matColumnDef="Proveedor">
                <th mat-header-cell *matHeaderCellDef> Proveedor </th>
                <td mat-cell *matCellDef="let element"> {{element.proveedorNombre}} </td>
            </ng-container>
            <ng-container matColumnDef="Monto">
                <th mat-header-cell *matHeaderCellDef> Monto </th>
                <td mat-cell *matCellDef="let element"> {{element.monto | currency}} </td>
            </ng-container>
            <ng-container matColumnDef="Moneda">
                <th mat-header-cell *matHeaderCellDef> Moneda </th>
                <td mat-cell *matCellDef="let element"> {{element.monedaNombre}} </td>
            </ng-container>
            <ng-container matColumnDef="Fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaAlta | date }} </td>
            </ng-container>
            <ng-container matColumnDef="Creado">
                <th mat-header-cell *matHeaderCellDef> Creado </th>
                <td mat-cell *matCellDef="let element"> {{element.usuarioCreado}} </td>
            </ng-container>
            <ng-container matColumnDef="Modificado">
                <th mat-header-cell *matHeaderCellDef> Modificado </th>
                <td mat-cell *matCellDef="let element"> {{element.usuarioModificado}} </td>
            </ng-container>
            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon color="primary" style="cursor: pointer;" (click)="editar(element)">edit</mat-icon>
                    <mat-icon color="warn" style="cursor: pointer;" (click)="eliminarRecibo(element)">delete</mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="totalRegistros" (page)="changePagina($event)" [pageSize]="regPagina" [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>
    </div>

</div>